*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
ul{
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* Header */
.header{
    background: url(image/header_bg.png) repeat;
    background-size: 100% 100%;
}
.header .header-logo{
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
}
.header .header-menu{
    float: right;
    position: relative;
}
.header-menu ul {
    padding: 55px 0 0 0;
} 
.header-menu  li {
    list-style: none;
    float: left;
}
.header-menu li a {
    display: block;
    color: #ffffff;
    padding: 15px 23px;
    text-decoration: none;
}
.header .contact{
    position: absolute;
    right: 0;
    top: 0;
    padding: 28px 20px 0 0;
}
.contact a{
    display: block;
    color: #000000;
    font-size: 29px;
    text-decoration: none;
}
.header .header-menu-bar{
    float: right;
    display: none;
}
/* Header End */

/* Banner */
.banner{
    background: url(image/body_bg.jpg) no-repeat;
    background-size: 100% 100%;
}
.banner .headline-background{
    background: url(image/body_bg.jpg) no-repeat;
    background-size: 0;
}
.banner .headline{
    float: left;
    width: 60%;
    position: relative;
}
.banner .headline .headline-element{
    padding: 185px 0 0 0;
    height: 870px;
}
.banner .headline-element .title{
    width: 75%;
    font-size: 45px;
    font-weight: bold;
}
.banner .headline-element .details{
    font-size: 20px;
    position: absolute;
    bottom: 0;
}
.banner .form{
    float: right;
    width: 40%;
    color: #ffffff;
    background: url(image/container_bg.png) no-repeat;
    background-size: 100%;
    height: 910px;
}
.banner .form .element{
    padding: 50px 50px 0 50px;
}
.banner .form .element .logo-img{
    float: left;
}
.banner .form .element .logo .name{
    float: right;
    font-size: 30px;
    line-height: 75px;
}
.banner .form .title{
    padding: 10px 0 20px 0;
    text-align: center;
}
.banner .form .box{
    width: 100%;
    height: 40px;
    margin-bottom: 8px;
}
.banner .form .guide{
    background-color: #333333;
    width: 100%;
    padding-bottom: 25px;
    margin: 35px 0 45px 0;
}
.banner .form .guide .text{
    float: left;
    font-size: 25px;
    font-weight: bold;
    width: 60%;
    padding: 25px 0 0 30px;
}
.banner .form .guide .logo{
    float: right;
    padding: 30px 50px 0 0;
}
.banner .form .element .conclusion{
    text-align: center;
}
/* Banner End */

/* information */
.information{
    background-color: #5fa32e;
    color: #ffffff;
}
.information .information-header{
    padding: 40px 0 20px 0;
}
.information .information-header .title{
    float: left;
    font-size: 40px;
}
.information .information-header .logo{
    float: right;
}
.information .information-header .logo img{
    float: left;
    height: 50px;
    width: 50px;
}
.information .information-header .logo .text{
    padding: 0 100px 0 15px;
    float: right;
    font-size: 25px;
    line-height: 50px;
    height: 50px;
}
.information .card-wrapper{
    margin: 0 -65px;
}
.information .card{
    width: 33.3333%;  
    float: left;
    padding: 10px 65px;
    height: 290px;
}
.information .card img{
    height: 50px;
    width: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.information .card .title{
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 40px;
}
/* information end */

/* testimonial */
.testimonial .testimonial-header{
    padding: 30px 0 20px 0;
}
.testimonial .testimonial-header .title{
    color: #5fa32e;
    float: left;
    font-size: 40px;
    line-height: 60px;
}
.testimonial .testimonial-header .logo{
    float: right;
}
.testimonial .testimonial-header .logo-alt{
    float: right;
    display: none;
}
.testimonial .card-wrapper{
    margin: 0 -80px;
}
.testimonial .card{
    float: left;
    width: 33.3333%;
    text-align: center;
    padding: 15px 80px;
}
.testimonial .card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.testimonial .card .title{
    padding-top: 30px;
    padding-bottom: 60px;
    font-weight: bold;
}
.testimonial .card .title .company{
    text-transform: uppercase;
    color: #5fa32e;
}
.testimonial .card .title .role{
    font-weight: normal;
}
.testimonial .card .details{
    height: 190px;
}
.testimonial .clients-installation{
    padding-top: 50px;
}
.testimonial .more-clients{
    padding-top: 75px;
    float: left;
}
.testimonial .installation{
    float: right;
    background: url(image/container_bg_alt.png) no-repeat;
    width: 38%;
}
.testimonial .installation .details{
    padding: 120px 40px 53px 96px;
}
.testimonial .installation .details .title{
    color: #ffffff;
    float: left;
    font-size: 25px;
    font-weight: bold;
    width: 160px;
}
.testimonial .installation .details .logo{
    float: left;
    padding-left: 30px;
}
/* testimonial end */
.footer{
    background: url(image/footer.png) repeat;
    background-size: 100% 100%;
}
.footer .footer-element{
    color: #ffffff;
    padding: 30px 0 20px 0;
}
@media screen and (max-width: 576px) {
    .header .header-logo{
        padding: 20px 0 20px 15px;
    }
    .header .header-logo .logo-img{
        width: 270px;
    }
    .header .header-menu{
        display: none;
    }
    .header .header-menu-bar{
        display: block;
        padding: 20px 35px 0 0;
    }
    .header .header-menu-bar img{
        height: 50px;
        width: 50px;
    }
    .banner{
        background-size: 0;
    }
    .banner .headline{
        float: none;
        width: 100%;
    }
    .banner .headline-background{
        background-size: 210% 100%;
        background-position-x: -55px;
    
    }
    .banner .headline .headline-element{
        padding: 70px 0 0 30px;
        height: 420px;
    }
    .banner .headline-element .title{
        width: 100%;
        font-size: 28px;
    }
    .banner .headline-element .details{
        font-size: 11px;
        bottom: 15px;
    }
    .banner .form{
        float: none;
        padding: 0;
        width: 100%;
        height: 780px;
        background-size: 103% 100%;
        background-position-x: -6px;
    }
    .banner .form .element{
        padding: 20px 40px 0 40px;
    }
    .banner .form .element .logo img{
        height: 50px;
        width: 50px;
    }
    .banner .form .element .logo .name{
        font-size: 25px;
        line-height: 50px;
    }
    .banner .form .guide{
        margin: 10px 0;
    }
    .information .information-header .logo .text {
      display: none;
    }
    .information{
        padding: 20px;
    }
    .information .card-wrapper{
        margin: 0;
    }
    .information .card{
        float: none;
        width: 100%;
        padding: 10px 47px;
    }
    .testimonial .testimonial-header{
        padding: 20px;
    }
    .testimonial .testimonial-header .logo{
        display: none;
    }
    .testimonial .testimonial-header .logo-alt{
        display: block;
    }
    .testimonial .card-wrapper{
        margin: 0;
    }
    .testimonial .card{
        padding: 15px 50px;
        float: none;
        width: 100%;
    }
    .testimonial .more-clients{
        float: none;
        padding: 0 15px;
    }
    .testimonial .more-clients img{
        width: 100%;
    }
    .testimonial .installation{
        padding-top: 15px;
        float: none;
        width: 100%;
        background-size: 100% 102%;
    }
    .testimonial .installation .details{
        padding: 105px 30px 52px 75px;
    }
    .footer .footer-element{
        padding: 30px 25px 20px 25px;
        text-align: center;
    }
  }